body {

  /* font-family: 'Amatic SC', cursive; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.background {
  background-image: url(../Images/bensworkspace.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgb(66, 138, 102,.5);
  min-height: 100vh;
  display: center;
}
.container {
  display: flex;
  flex-direction: column-reverse;
}
.main-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: auto;
  flex: 1;
  flex-wrap: wrap;
  padding: 15px;
}

.main-nav li  {
  text-align: center;
  background-color: #79d279;
  height: 40px;
  width: 125px;
  // padding: 10px 5px 10px 5px;
  margin: .75em;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #53c653;
  transition: all .25s;
  display: table;
}

.main-nav li:hover {
  height: 40px;
  width: 130px;
  background-color:	#00ff80
}

.main-nav a {
  text-decoration: none;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  display: table-cell;
  vertical-align: middle;
}

header {
  width: 100%;
}

.fade-in {
  display: block;
  height: 300px;
}

.name {
  margin-top: 30px;
  font-size: 4.5em;
  text-decoration: none;
  color: white;
  opacity: 0;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  

}

h2 {
  font-size: 3em;
  color: transparent;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.skillSetList {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  padding: inherit;

}

.skillSetList li {
  padding: 0 .5em;
  opacity: 0;
}

.profile-pic {
  display: flex;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: all 1.5s;
}
.profile-pic:hover {
  transform: scale(1.1) rotate(360deg);
  filter: grayscale(100%);
}

.social-media {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0
}

.social-media a {
  text-decoration: none;
  color:  white;

}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  text-align: center;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.main-footer {
  height: 66px;
  margin-top: 10px;
  margin-bottom: 30px;
}

/*************************
Media Queries
*************************/

@media only screen and (min-width: 480px) {

  .main-nav {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
  }

  .container {
    flex-direction: column;
  }

}

@media only screen and (min-width: 570px) {

  .fade-in {
    height: 151px;
    margin-bottom: 5%;
  }

  .skillSetList {
    margin: auto;
    flex-direction: row;
    width: 85%;
  }

  .skillSetList li {
    padding: 0 .25em 0 .25em;
  }

  .social-media {
    width: 385px;
    margin: auto;
  }
}

@media only screen and (min-width: 992px) {

  .main-nav {
    margin: unset;
  }
  }
